<!DOCTYPE html>
<html>

<head>
    <title>Tokopedia Webhook Mock</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
        import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
        window.Stimulus = Application.start()

        Stimulus.register("hello", class extends Controller {
            static targets = ["name"]

            async greet() {
                const resp = await axios.post("/tokopedia/orders/webhook", JSON.parse(this.nameTarget.value))
                const data = resp.data
                if (data?.message ==='ok') alert("OK")
                else alert("Ada yang salah, cek network inpector untuk lihat error")
            }

            connect() {
            }
        })
    </script>
</head>

<body>
    <div data-controller="hello">
        <textarea data-hello-target="name" type="text" style="min-height: 400px;" placeholder="Masukkan payload"></textarea>
        <div><button data-action="click->hello#greet">Simulasi webhook</button></div>
    </div>
</body>

</html>